@{
    ViewData["Title"] = "Reserveringen";

    var mainVestiging = (VestigingsModel)ViewData["Vestiging"];
    var vestigingen = (List<VestigingsModel>)ViewData["Vestigingen"];
}

<div class="background">
    <div class="d-flex justify-content-center">
        <a asp-action="Index" asp-controller="Home" class="btn btn-roze btn-index-reservering">Terug naar vestiging selectie</a>
        <a asp-action="CreateReservering" class="btn btn-geel btn-index-reservering">Reservering Toevoegen</a>
        <a asp-action="CreateBedrijf" class="btn btn-roze btn-index-reservering">Bedrijf Toevoegen</a>
    </div>
    <hr />

    <div class="scroll-view">
        @if (mainVestiging != null)
        {
            @foreach (var reservering in mainVestiging.Reservering)
            {
                <div class="card" style="width: 31rem;">
                    <div class="card-body">
                        <h5>Naam: @reservering.NaamReserverende</h5>
                        <div class="container">
                            <div class="row">
                                <div class="col col-card">
                                    <h6 class="card-subtitle mb-2 text-muted">Tafel: @reservering.Tafel</h6>
                                </div>
                                <div class="col col-card">
                                    <h6 class="card-subtitle mb-2 text-muted">Datum: @reservering.Tijd</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-card">
                                    <h6 class="card-subtitle mb-2 text-muted">Aantal Personen: @reservering.AantalPersonen</h6>
                                </div>
                            </div>
                        </div>
                        <a asp-action="RemoveReservering" asp-route-vestigingID="@mainVestiging.ID" asp-route-reserveringID="@reservering.ReserveringID" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            }
        }
        else if (vestigingen != null)
        {
            @foreach (var vestiging in vestigingen)
            {
                @foreach (var reservering in vestiging.Reservering)
                {
                    <div class="card" style="width: 31rem;">
                        <div class="card-body">
                            <h5>Naam: @reservering.NaamReserverende</h5>
                            <div class="container">
                                <div class="row">
                                    <div class="col col-card">
                                        <h6 class="card-subtitle mb-2 text-muted">Tafel: @reservering.Tafel</h6>
                                    </div>
                                    <div class="col col-card">
                                        <h6 class="card-subtitle mb-2 text-muted">Datum: @reservering.Tijd</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-card">
                                        <h6 class="card-subtitle mb-2 text-muted">Aantal Personen: @reservering.AantalPersonen</h6>
                                    </div>
                                    <div class="col col-card">
                                        <h6 class="card-subtitle mb-2 text-muted">Vestiging: @vestiging.Naam</h6>
                                    </div>
                                </div>
                            </div>
                            <a asp-action="RemoveReservering" asp-route-vestigingID="@vestiging.ID" asp-route-reserveringID="@reservering.ReserveringID" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
